{* This is the welcome page, you can delete it *}

{block content}
<h1>RoadRunner</h1>
<button id="myButton">Click Me</button>
<p id="message"></p>

<script>
    let responseTotalSum = 0;
    let responseTotalCount = 0;
    document.getElementById('myButton').addEventListener('click', function () {
        fetch({link "Home:default"}, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => {
                let xRequestTime = parseInt(response.headers.get('x-request-time'));
                let xResponseTime = Math.floor(parseFloat(response.headers.get('x-response-time')) * 1000 - xRequestTime);
                return response.text().then(data => {
                    return { text: data, xResponseTime: xResponseTime };
                });
            })
            .then(data => {
                let message = data.text;
                if (data.xResponseTime) {
                    responseTotalSum += data.xResponseTime;
                    responseTotalCount++;

                    message += 'ngix response time: ' + data.xResponseTime + '\n';
                    message += 'ngix avg response time: ' + (responseTotalSum / responseTotalCount) + '\n';
                }
                document.getElementById('message').innerText = message;
            });
    });
</script>
